<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
 </div>

 <article class="about">
    <h2>Sobre mí</h2>
    <p>
        Muy buenas a todos...
        <br>
        Mi nombre es Daniel Grecco y soy estudiante de la Tecnicatura en Programacion en  Universidad Tecnologica Nacional Regional Cordoba .
        A su vez he complementado mis aprendizajes con diversos cursos en platadformas digitales como Udemy, Openbootcamp, EdTeam.
        <br>
        <br>
        Actualmente me encuentro disponible para empezar a trabajar de inmediato para quien requiera mis servicios.

    </p>

 </article>