
<div *ngIf="anchura > 0">
 <strong> Tamaño del slider: {{anchura}} </strong>, Captions:  <strong>{{captions}}</strong>
</div>

<div class="galeria">
    <div><img src="../../../assets/img/descarga (9).jfif" title="Globos"></div>
    <div><img src="../../../assets/img/images (10).jfif" title="lago"></div>
    <div><img src="../../../assets/img/images (7).jfif" title="Cascada"></div>
    <div><img src="../../../assets/img/images (8).jfif" title="Montaña"></div>
    <div><img src="../../../assets/img/images (9).jfif" title="arbol"></div>
  </div>

<button (click)="lanzar($event)">Conseguir autor</button>
