
<header>
    <ul>
        <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">About me</a></li>    
        <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Create</a></li>
        <li id="logo"><a href="#">DZO!</a></li>
        <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Projects</a></li>
        <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contact</a></li>
    </ul>
</header>

<section id="content">



<router-outlet></router-outlet>

</section>

<footer>
    Mi primer porfolio de JavaScript  &copy;
</footer>